.main-container{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.left-container{
    border: 1px solid black;
    width: 700px;
}

.right-container{
    border: 1px solid black;
   
}

.image1{
    width: 150px;
    height: 300px;
    margin-right: 20px;
}

.image2{
    width: 150px;
    height: 300px;
    margin-right: 20px;
    
}

.image3{
    width: 150px;
    height: 300px;
    margin-right: 20px;
}