/* @import url('fonts.googleapis.com');  */
@import url('https://fonts.googleapis.com/css2?family=YourFontName&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* 
 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');  */

.main-container{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-image: url('../assets//images/bgimage.png');
    background-size: cover;
    height: 600px;
}

.left-container{
    /* border: 1px solid black; */
    width: 600px;
    margin-left: 40px;
    margin-top: 40px;
}

.right-container{
    /* border: 1px solid black; */
    display:  flex;
    margin-left: 50px;  
    margin-top: 40px;
}

/* .heading{
    width: 510px;
    height: 100px;
} */

.p1{
    font-family: cursive;
    font-size: 20px;
    background-color: #FAA935;
    border-radius: 20px;
    padding: 8px;
}
.p2{
    font-family: 'Open Sans';
    font-size: 45px;
}
/* 
.p3{
    font-family: 'Helvetica';
    font-size: 40px;
} */

.p4{
    font-family: Poppins;
    font-size: 22px;
}

.image1{
    width: 200px;
    height: 400px;
    margin-right: 30px;
    margin-top: 20px;
    border-radius: 20px;
    border: #FAA935 2px solid;
}

.image2{
    width: 150px;
    height: 300px;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 20px;
    border: #FAA935 2px solid;
}

.image3{
    width: 200px;
    height: 400px;
    margin-right: 20px;
    margin-left: 15px;
    margin-top: 60px;
    border-radius: 20px;
    border: #FAA935 2px solid;
}


.videostyle {
    width: 200px;
    height: 400px;
    border-radius: 20px;
    border: #FAA935 2px solid;
    margin-right: 10px;
    margin-top: 40px;
}