.main-navbar {
  width: 100%;
  display: flex;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 0px;
  padding: 10px;
  top: 0;
  box-sizing: border-box;
  background-color: #fff;
}

.navbar-logo img {
  width: 120px;
  height: 60px;
  margin-left: 20px;
}

.navbar a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  color: #0B2727;
}

.navbar a:hover {
  background-color: #FAA935;
  text-decoration: underline;
  border-radius: 20px;
}

.navbar a:active {
  font-weight: 600;
}



@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar-links {
    gap: 5px;
  }

  .nav-link {
    padding: 6px 12px;
    font-size: 14px;
  }

  .navbar-logo img {
    width: 100px;
  }
}