.main-navbar {
  width: 100%;
  display: flex;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 10px;
  top: 0;
  box-sizing: border-box;
  background-color: #fff;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar-links {
    display: flex;
    align-items: center;
    margin-left: 25rem;
}

.logoimage {
    margin-left: 0;
    width: 70px;
    height: 40px;
    align-items: center;
}