.transport-container{
    display: flex;
    background-image: url('../assets//images/bgimage.png');
    background-size: cover;
    height: 400px;
}

.Headers{
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    justify-content: center;
    margin-left: 520px;
}

.Header-text{
    font-size: 50px;
    color: #FAA935;
}

.sub-heading{
    font-size: 50px;
    color: white;
    
}


.tour-heading{
    font-family: "Poppins";
    font-size: 35px;
    font-weight: medium;
    color: #FAA935;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

.image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.left-container{
    background-image: url("https://res.cloudinary.com/dcarnhdrh/image/upload/v1768581966/1v_bpzrye.png");
    background-size: cover;
    border: 1px solid black;
    width: 500px;
    height: 370px;
}

.right-container{
    background-image: url("https://res.cloudinary.com/dcarnhdrh/image/upload/v1768582608/2v_srjut8.png");
    background-size: cover;
    border: 1px solid black;
    width: 500px;
    height: 370px;  
}

.bottom-left-container{
    border: 1px solid black;
    background-image: url("https://res.cloudinary.com/dcarnhdrh/image/upload/v1768582606/5v_qtbuh2.png");
    background-size: cover;
    width: 500px;
    height: 370px;  
}


.bottom-right-container{
    border: 1px solid black;
    background-image: url("https://res.cloudinary.com/dcarnhdrh/image/upload/v1768582606/5v_qtbuh2.png");
    background-size: cover;
    width: 500px;
    height: 370px;  
}